@{
    ViewData["Title"] = "Dashboard";
}


    <div class="row mb-4">
        <div class="col-md-5">
            <div class="widget chart" >
                <div class="p-4">
                    <h5 class="fw-bold">widget</h5>
                </div>
                
            </div>
        </div>
        <div class="col-md-7">
            <div class="widget chart">
                <div class="p-4">
                    <h5 class="fw-bold">Widget </h5>
                </div>
              
              
            </div>
           
        </div>
    </div>
  <div class="row mb-4">
        <div class="col-md-6">
            <div class="widget chart" >
                <div class="p-4">
                    <h5 class="fw-bold">Recent Transactions</h5>
                </div>
                <div class="table-responsive shadow-lg">
                
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget h-100" >
                <div class="d-flex justify-content-center align-items-center h-100">
                    <span></span> <i class="fas fa-home fa-3x"></i></span>  Widget</span>
                </div>
            </div>
        </div>
    <div>


@section Scripts {
   <script>
          @* $('body').on('click', '#deleteExpensebtn', function (e) {
                e.preventDefault();
                let url = $(this).data('url');
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: url,
                            type: "DELETE",
                            success: function (data) {
                                if (data.code == 0) {
                                    toastr.error(data.error);
                                } else {
                                    Swal.fire(
                                        'Deleted!',
                                        data.msg,
                                        'success'
                                    )
                                  location.reload()
                                }
                            }
                        });


                    }
                }); *@
            }) 
    
   </script>
}