 @model Category
 @{
    ViewData["Title"] = Model.CategoryId == null ? "Create Category" : "Update Category";
 }
 <div class="row mb-4">
        <div class="col-md-6">
            <div class="widget chart" >
                <div class="p-4">
                    <h5 class="fw-bold">Create New Category</h5>
                </div>
                <div class="table-responsive shadow-lg">
                 <form asp-controller="Category" asp-action="Upsert" method="post" class="p-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

                    <div class="form-group mb-3" >
                        <label asp-for="CategoryId"></label>
                        <input asp-for="CategoryId" class="form-control">
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                   
                     <div class="form-group mb-3" >
                        <label asp-for="Name"></label>
                         <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3" >
                        <label asp-for="Icon"></label>
                         <input asp-for="Icon" class="form-control">
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                   
                   
                    <div class="form-group">
                        <div class="row mb-2 mt-2">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-outline-success">Create</button>
                            </div>
                            <div class="col-md-6 text-end">
                                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-danger">Cancel</a>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget h-100" >
                <div class="d-flex justify-content-center align-items-center h-100">
                    <span></span> <i class="fas fa-home fa-3x"></i></span>  Widget</span>
                </div>
            </div>
        </div>
    <div>

